<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpsproject">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 위험 권한 부여 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyAddress"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gpsproject"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCSQqXX_Db6HmxxTZgskp3Y0_tcW2R7qbA" />

        <activity android:name=".ShowSavedLocationsList" />
        <activity android:name=".GpsTrackActivity" />
        <activity android:name=".GtalkActivity3" />
        <activity android:name=".GtalkActivity2" />
        <activity android:name=".GtalkActivity1" />
        <activity android:name=".AddPersonActivity2" />
        <activity android:name=".AddPersonActivity1" /> <!-- https가 아니라 http로 오더라도 그냥 허가하는 부분 -->
        <!-- http 라이브러리 사용 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity" />
        <activity android:name=".MainActivity" />



        <!-- API24 이상부터 Url 이 file:// 로 시작되면 안되서 content:// 으로 변환시키는 부분 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>